html {
  font-family: $font-family;

  .v-application {
    [class*="text-"] {
      font-family: $font-family, sans-serif !important;
    }
    font-family: $font-family, sans-serif !important;
  }

  .elevation-10 {
    box-shadow: $box-shadow !important;
  }
  .elevation-5 {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.34) !important;
  }
  .v-card-text {
    padding: 20px 30px 30px;
  }
  .v-card-header {
    padding: 30px 30px 0.625rem;
  }
  .v-card-actions {
    padding: 0.625rem 30px 30px;
  }
  .v-card {
    border-radius: 6px;
    width: 100%;
    box-shadow: $box-shadow !important;
  }
  .v-btn {
    text-transform: capitalize;
    letter-spacing: $btn-letter-spacing;
    transition: 0.05 ease-in;
    &:hover {
      transform: scale(1.05);
    }
  }
  .v-btn-group .v-btn {
    height: inherit !important;
  }

  .v-navigation-drawer__scrim.fade-transition-leave-to {
    display: none;
  }

  .theme-carousel .v-carousel__progress {
    position: absolute;
  }
  .v-theme--light,
  .v-theme--dark {
    --v-theme-on-warning: 255, 255, 255;
    --v-theme-on-success: 255, 255, 255;
    --v-theme-on-secondary: 255, 255, 255;
  }
  .v-card.w-auto {
    width: auto !important;
  }

  .bg-info-grediant {
    background: #074bdf;
    background: -webkit-linear-gradient(
      legacy-direction(to right),
      #1303f0,
      #1101ee
    );
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#0408eb),
      to(#2603ec)
    );
    background: -webkit-linear-gradient(left, #1202f5, #042eeb);
    background: linear-gradient(90deg, #0307f7 0, #0602ec);
  }

  .blog-card {
    transition: 0.2s ease-in;
    &:hover {
      transform: translateY(-10px);
    }
    .date-badge {
      padding: 10px;
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 10px;
      color: #fff;
      border-radius: 8px;
      text-align: center;
      span {
        display: block;
        font-size: 30px;
        line-height: 30px;
      }
    }
    .blog-title {
      color: #263238 !important;
      line-height: 22px;
      &:hover {
        color: #2a3e94 !important;
      }
    }
  }

  .btn-danger-gradient {
    background: #2606df;
    background: -webkit-linear-gradient(
      legacy-direction(to right),
      #1d06eb,
      #2907e9
    );
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#2f13ad),
      to(#2504e0)
    );
    background: -webkit-linear-gradient(left, #210e8d, #350986);
    background: linear-gradient(90deg, #2d0980 0, #1e0b74);
    border: 0px;
  
    &:hover {
      background: #2702f7;
      background: -webkit-linear-gradient(
        legacy-direction(to right),
        #3509d4,
        #1708eb
      );
      background: -webkit-gradient(
        linear,
        left top, 
        right top,
        from(#3408d1),
        to(#1b03f0)
      );
      background: -webkit-linear-gradient(left, #1d0672, #2e03f0);
      background: linear-gradient(90deg, #2f04ee 0, hsl(249, 97%, 48%));
    }
  
    &.active,
    &:active,
    &:focus {
      box-shadow: 0px;
      opacity: 1;
    }
  }

  // .v-toolbar__content{
  //   height: auto !important;
  // }

}
