// @use "vuetify/styles" with (
//   $body-font-family: "Noto Sans Lao", sans-serif !default,
//   $border-radius-root: 5px
// );

@use "vuetify/styles";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@300;400;500;600;700&display=swap');


@import "./variables";
@import "./override";
@import "./layout/container";
@import "./layout/sidebar";
@import "./layout/topbar";
@import "./pages/dashboards";
